@model SGTubeMVC.Models.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<link rel="stylesheet" href="~/css/dashboard.css" />
<link rel="stylesheet" href="~/css/list.css" />

<div class="container">
    <div class="content_search">
        <img src="~/assets/logo.png" alt="" />

        <div class="content">
            <div>
                <form asp-controller="Search" asp-action="Create" method="post">
                    <p>Utilize a caixa abaixo para pesquisa</p>
                    <input asp-for="search" type="search" placeholder="Buscar" />
                    <button class="btn">Buscar</button>
                </form>
            </div>
        </div>

        <div class="content_history">
            <form asp-controller="Dashboard" asp-action="Index" method="post">
                <table id="historical">
                    <thead>
                        <tr>
                            <th><p>Últimas Pesquisas</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.history)
                        {
                            @if (item != null && !string.IsNullOrEmpty(item.Title))
                            {
                                <tr>
                                    <td>
                                        @*<input name="historyClick" asp-for="search" value="@item.Title" onclick="location.href='@Url.Action("Index", "Dashboard")'" />*@
                                        @Html.ActionLink(@item.Title, "Index", "Dashboard", new { texto = item.Title }, new { @class = "historical-td-actionLink" })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="content_dashboard">
        @if (Model.videos.Count() > 0)
        {
            <p>Vídeos</p>
            <ul class="spot-list">
                @foreach (var item in Model.videos)
                {
                    <li data-toggle="modal" data-target="#myModal">
                        <button id="idVideo" style="display:none" value="@item.Id.VideoId"></button>
                        <img src="@item.Snippet.Thumbnails.High.Url" alt="" />
                        <p>@item.Snippet.Title</p>

                        <textarea class="modal-text" style="display: none">
                            @item.Snippet.Title
                            <br />
                            Uploaded by: @item.Snippet.ChannelTitle
                            <br />
                            Date of Upload: @item.Snippet.PublishedAt
                            <br />
                            @item.Snippet.Description
                        </textarea>
                    </li>
                }
            </ul>
        }
        @if (Model.channels.Count() > 0)
        {
            <p>Canais</p>
            <ul class="spot-list">
                @foreach (var item in Model.channels)
                {
                    <li>
                        <button id="myBtn" style="display:none" value="@item.Id.ChannelId"></button>
                        <img src="@item.Snippet.Thumbnails.High.Url" alt="" />
                        <p>@item.Snippet.Title</p>
                    </li>
                }
            </ul>
        }
        @if (Model.playlists.Count() > 0)
        {
            <p>Listas de Reprodução</p>
            <ul class="spot-list">
                @foreach (var item in Model.playlists)
                {
                    <li>
                        <button id="idVideo" style="display:none" value="@item.Id.PlaylistId"></button>
                        <img src="@item.Snippet.Thumbnails.High.Url" alt="" />
                        <p>@item.Snippet.Title</p>
                    </li>
                }
            </ul>
        }
    </div>
</div>

<div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Detalhes</h4>
            <div id="popup" class="modal modal-text">
                <p>Some text in the modal.</p>
            </div>
        </div>

    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#myModal').on('show.bs.modal', function (event) {
            var element = $(event.relatedTarget);
            var dynamic_text = element.find('.modal-text').text();

            var modal = $(this);
            $("#popup").html(dynamic_text);
        });

    });
</script>

